article.popup.popup-menu.menu#popup-menu.js-hidden
  .popup__container
    header.menu__header
      h1.menu__title Welcome!
      span.menu__description Here are some of my projects:
      .menu__close-btn.close-btn
        span
        span
    section.projects
      .projects__item
        img(src="img/icons/schulteTable.png").projects__item-icon
        .projects__item-title Таблица Шульте
      .projects__item
      .projects__item
      .projects__item
      .projects__item
      .projects__item