* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
span {
  padding: 0;
  margin: 0;
}

button, a {
  box-shadow: none;
  border: none;
  text-decoration: none;
  outline: none;
  display: block;
}
