figure.product-card
  .product-card__container
    header.product-card__header
      .product-card__label Сказочное заморское явство
    .product-card__body
      h2.product-card__name Нямушка
      p.product-card__taste c фуа-гра
      p.product-card__quantity 10 порций
      p.product-card__bonus мышь в подарок


