.product-card-wrap
  //.product-card__corner-figure
  figure.product-card
    header.product-card__header
      .product-card__label Сказочное заморское явство
    .product-card__body
      h2.product-card__name Нямушка
      p.product-card__taste c фуа-гра
      p.product-card__bonus 10 порций
      p.product-card__bonus мышь в подарок


