.shulte-page {
  background-size: 50px 50px;
  background-color: lightgray;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
          transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
          transparent 75%, transparent),
  linear-gradient(135deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                  transparent 75%, transparent);
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  @include flex(center, center, column nowrap);
}

.shulte-board {
  padding: 75px 50px 100px;
  max-width: 1100px;
  height: 100%;
  min-height: 75vh;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(#00BCD4, 0.3);
  box-shadow: 1px 1px 5px 1px rgba($black, 0.1);
  border-radius: 15px;

  @include flex(center, center, column nowrap);

  &__controllers {
    padding: 20px;
    align-self: center;
    position: absolute;
    //top: 50%;
    //right: -40%;
    //transform: translateY(-50%);
    //bottom: -30px;
    left: 50%;
    transform: translateX(-50%);

    @include flex(center, center, row nowrap);
  }

  &__generate-nums-btn {
    background-color: rgba(#fcde38, 0.5);
  }
}

.shulte-table-wrap {
  position: relative;
  box-shadow: 0 0 2px 0 rgba($black, 0.5);
  max-width: 500px;
}

.shulte-table {
  @include flex(flex-start, flex-start, row wrap);

  max-width: 500px;
  width: 100%;
  height: 500px;

  &__cell {
    @include flex(center, center);
    @include font(1.4em, 1, 400);

    width: 20%;
    height: 20%;
    color: $black;
    background-color: $white;
    border: 1px solid rgba($black, 0.1);

    &:nth-child(2n) {
      background-color: #e3e3e3;
    }

    &:hover {
      box-shadow: 0 0 2px 0 rgba($black, 0.5);
      z-index: 2;
    }
  }
}

.shulte-btn {
  max-width: 120px;
  min-width: 120px;
  min-height: 45px;
  width: 100%;
  background-color: rgba(#944343, 0.8);
  color: rgba($white, 0.7);
  margin-bottom: 20px;
  margin-right: 10px;
  transition: all 0.5s;

  &:hover {
    background-color: #944343;
    box-shadow: 0 0 5px 1px rgba($black, 0.1);
    color: $white;
    border-radius: 2px;
  }

  &:active {
    transform: scale(0.95);
  }
}

.shulte-btn--main {
  background-color: rgba(#fcde38, 0.75);
  color: #944343;

  &:hover {
    background-color: #fcde38;
    box-shadow: 0 0 5px 1px rgba($black, 0.1);
    color: #944343;
  }
}