.popup {
  position: fixed;
  background-color: rgba($black, 0.4);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top: 0;

  &__container {
    max-width: 600px;
    width: 100%;
    background: $white;
    padding: 25px 30px 50px;
    box-shadow: 0 0 4px 1px rgba($black, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.menu {
  &__header {
    @include font(15px, 1, 400);

    margin-bottom: 50px;
    position: relative;
  }

  &__close-btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;

    span {
      position: absolute;
      top: 50%;
      height: 2px;
      width: 17px;
      background-color: $black;

      &:first-child {
        transform: rotate(45deg);
      }

      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  &__title {
    margin-bottom: 10px;
  }
}

.projects {
  width: 100%;
  margin-bottom: 15px;

  @include flex(center, flex-start, row wrap);

  &__item {
    width: calc(30% - 20px);
    margin: 2px;
    min-height: 100px;
    text-align: center;
    background: linear-gradient(180deg, #f4f4f4, #a3a3a3);
    position: relative;

    @include flex(center, center, column nowrap);

    &:hover {
      background: linear-gradient(180deg, rgba($white, 0.65), rgba(lightblue, 0.75));
    }
  }

  &__item-icon {
    max-width: 80px;
    width: 100%;
  }

  &__developing-alert {
    @include font(16px, 1, 100);

    text-align: center;
  }
}

.available-mark {
  width: 7px;
  height: 7px;
  background-color: rgba(chartreuse, 0.8);
  border-radius: 50%;

  position: absolute;
  top: 5px;
  right: 5px;
}