extends templates/main-layout

block main
  .shulte-board
    .shulte-table-wrap
      .shulte-table#shulte-table
        .shulte-table__cell
    .shulte-board__controllers
      button.shulte-board__new-board-btn(onclick="refreshNumbers(shuffleNums(numbers))") Generate Table